$layout-breakpoint-small: 320px 767px;
@media (min-width: $layout-breakpoint-small) {
}
@mixin page_header--font {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}

@mixin section_header--font {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}

@mixin subheader--font {
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
}

@mixin body--font {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}

@mixin footer--font {
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
}

@mixin labels-buttons--font {
  font-size: 10px;
  line-height: 20px;
  font-weight: 700;
}
$color-bandsite-black: #323232;
$color-silver: #afafaf;
$color-white: white;

nav {
  @include page_header--font;
  padding-top: 20px;

  background-color: $color-bandsite-black;
  color: white;
  text-align: center;

  ul {
    @include subheader--font;
    padding-top: 10px;

    display: flex;

    list-style: none;
    justify-content: center;
    gap: 50%;
  }

  li:hover,
  li:active {
    border: 0.1rem solid $color-white;

    border-top: none;
    border-left: none;
    border-right: none;
  }
}

.header__background {
  position: relative;
  height: 12.5rem;

  .header__background--img img {
    width: 100%;
    height: 30%;
  }
  .header__background--text h2 {
    @include section_header--font;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-100%, -50%);

    color: $color-white;
    text-align: center;
  }
}
.main {
  display: flex;
  flex-direction: column;
  margin: 15px;

  h2 {
    @include section_header--font;
    padding-bottom: 10px;
    padding-top: 10px;
  }

  .main--image img {
    width: 100%;
  }
  p {
    @include body--font();
    display: block;
    margin-top: 15px;
  }
}

.photo__section {
  background-color: #e1e1e1;

  img {
    width: 100%;
    height: 100%;
  }
}

footer {
  background-color: $color-bandsite-black;
  p, h2{
    color: $color-white;
  }
}
